body {
	background-color: #61bae4;
}

.container {
	margin-top: 25px;
}

#name-info {
	background-color: white;
}

.nav-menu {
	background-color: #2b4e86;
}

.navbar-brand {
	color: rgb(207, 207, 207);
	font-weight: 500;
	font-size: 50px;
	text-shadow: -2px 2px 0 #2b4e86, 2px 2px 0 #64a927e7, 2px -2px 0 #61bae4,
		-2px -2px 0 #63a927;
}

.navbar-text {
	color: #2b4e86;
	font-size: 16px;
	font-weight: 700;
}

.nav-link {
	color: #64a927e7;
	font-weight: 500;
	font-size: 20px;
	text-shadow: 1px 1px 1px black, 3px 3px 3px black, 1px 1px 1px black,
		1px 1px 1px black;
}

.navbar-toggler {
	background-color: #63a927;
	color: white;
}

.symbols {
	color: black;
}

.greenBox {
	background-color: #64a927;
	padding: 20px 5px 5px 20px;
	border: 2px dashed #2b4e86;
	box-shadow: 6px 8px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.greenBox-text {
	color: #2b4e86;
	font-weight: 500;
	font-size: 16px;
}

.promotion {
	text-shadow: 1px 2px 2px #61bae4, 1px 1px 1px black;
}

.alert {
	background-color: #bceaff;
	color: #2b4e86;
	font-weight: 500;
}

#hr-services {
	margin-top: 50px;
}

#ser-heading {
	text-align: center;
	padding-top: 10px;
	color: #63a927;
	text-shadow: 3px 3px 3px #2b4e86;
}

.card-body {
	font-size: 16px;
	font-weight: normal;
}

#addServ-header {
	color: #2b4e86;
	font-weight: 700;
}

#addSer-text {
	color: #2b4e86;
}

#service-list {
	background-color: #61bae4;
	color: #2b4e86;
	font-size: 16px;
	font-weight: 600;
	border: none;
}

.accordion {
	padding-bottom: 15px;
}

.btn {
	font-weight: 500;
}

.collapse,
.card {
	color: #2b4e86;
	font-weight: 600;
}

form {
	background-color: #2b4e86;
	border: 5px solid #63a927;
	padding: 10px;
	color: #61bae4;
	font-size: 16px;
	border-radius: 5px;
	text-shadow: 3px 3px 3px black, 3px 3px 3px black;
	box-shadow: 6px 8px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hr-contact {
	border: 2px solid #63a927;
}

.btn {
	background-color: #61bae4;
	border: 2px solid #61bae4;
	color: #2b4e86;
	padding: 2px 3px;
	text-align: center;
	font-weight: 800;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.9), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 1px 1px 2px #000, 1px 1px 0 black;
	letter-spacing: 1px;
}

.btn:hover {
	background-color: #63a927;
	color: #61bae4;
	border: 2px solid #61bae4;
	font-weight: 900;
}
